.nav-bar {
  margin-right: 0px;
  background-color: #271942;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background-image {
  height: 400px;
}
.left {
  flex: 1;
}
.right {
  display: flex;
  align-items: center;
}
.logo-image {
  margin-left: 50px;
  height: 150px;
  width: 350px;
}
.header-link {
  margin-right: 20px;
}
.styled-part {
  font-family: "Play", sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 22px;
  color: black;
}
.main-div {
  justify-content: center;
}
.main-app {
  justify-content: center;
  min-height: 120vh;
  background-color: #6c63ff;
}
.enter-url-css {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 60px;
  color: black;
  margin-left: 50px;
}
.description-section {
  display: flex;
  justify-content: center;
}
.display-section {
  display: flex;
}
.link-section {
  display: flex;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.my-input {
  height: 50px;
  width: 700px;
  margin-right: 20px;
  margin-left: 50px;
}
.motto-header {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
  margin: 50px;
}
.text-details {
  font-family: "Play", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
  margin: 75px;
  margin-bottom: 0px;
}
